@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #222;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

#header {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        border-bottom: 1px solid goldenrod;
        padding: 20px;
}

#header input {
    background-color: #222;
    border: 1px solid goldenrod;
    padding: 10px;
    color: goldenrod;
    border-radius: 5px;
    margin-top: 17px;
}

#header input:focus { 
    outline: none !important;
    border-color: darkgoldenrod;
}

h1 {
    font-family: 'Lobster';
    font-size: 50px;
}
#branding {
    color: goldenrod;
}
#branding span {
    color: #fff;
}

#watch-list {
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.coin-card {
    border: 1px solid goldenrod;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    width: 300px;
}

.coin-card img {
    width: 100px;
}

.coin-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid khaki;
}

.ticker {
    font-size:20px; 
    color:goldenrod; 
    font-weight: bold; 
    padding: 15px 5px 5px;
}
.coin-name {
    font-size: 15px;
    padding: 5px;
    color: darkgoldenrod;
}
.price {
    font-size: 25px;
    padding: 5px;
    color: darkgoldenrod;
}
p.change {
    color: darkgoldenrod;
    padding: 5px;
}

span.negative {
    color: #f44336;
}

span.positive {
    color: #43a047;
}

#credit {
    font-size: 10px;
    position: relative;
    background-image: url(../CoinGecko-WhiteText.png);
    display: block;
    clear: both;
    background-size: 125px;
    height: 50px;
    background-position: bottom;
    background-repeat: no-repeat;
    margin: 20px;
}

#credit a {
    color: #fff;
    text-decoration: none;
}

#credit a:hover {
    color:goldenrod; 
}